pandas == 1.4.3
numpy==1.16.4
streamlit==0.52.1
pillow == 9.2.0
keras == 2.9.0
tensorflow == 2.0.0b1
tensorflow_addons == 0.17.1
matplotlib == 3.5.2
scipy == 1.6.0
scikit-learn == 1.1.1
skikit-multilearn == 0.2.0
h5py == 3.7.0
itertools == 3.10.5
